# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
firebase-debug.log
firestore-debug.log
database-debug.log
ui-debug.log

# Node modules
node_modules/
functions/node_modules/

# Production build output
dist/
dist-ssr/

# Local configuration
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables & Secrets
.env
.env.*
!.env.example
config.js
firebaseConfig.js

# Firebase
.firebase/
functions/.env
functions/.secret.*
*-debug.log

# Secrets (allow whitelist)
*.json
!package.json
!package-lock.json
!tsconfig.json
!firebase.json
!database.rules.json
!.firebaserc

# Cache
.cache/
.eslintcache